<div class="container px-5 px-sm-0">

		<div class="row">
						<div class="col-md-3">
							<%= render 'users/user_show', user: @user %>
							<%= render 'books/book_new', book: @book %>
						</div>
			

					<div class="col-md-8 offset-md-1">
  								<h2>Books</h2>
								  		<table class="table table-hover table-inverse">
								  			<thead>
											    <tr>
											      <th></th>
											      <th>Title</th>
											      <th>Opinion</th>
											      <th colspan="3"></th>
											    </tr>
											</thead>  
								  		  <tbody>
								  		  	<% @books.each do |book| %>
								  		  	<tr>
									          <td><%= link_to user_path(book.user) do %>
									          			<%= image_tag book.user.get_profile_image(40,40) %></td>
									          	  <% end %>
									          <td><%= link_to book_path(book.id) do %> 
				          							<%= book.title %>
				        						  <% end %>
				        					  </td>
									          <td><%= book.body %></td>
									          
									          <td>
									          	<% if book.favorited_by?(current_user) %>
														    <p>
														      <%= link_to book_favorites_path(book.id), class: 'post-btn', method: :delete do %>
														        <i class="fa-solid fa-heart" style="color: red;"></i>
														        <span class='post-btn-text' style="color: red;"><%= book.favorites.count %></span>
														        
														      <% end %>
														    </p>
														 <% else %>
														    <p>
														      <%= link_to book_favorites_path(book.id), class: 'post-btn', method: :post do %>
														        <i class="fa-solid fa-heart" style="color: blue;"></i>
														        <span class='post-btn-text' style="color: blue;"><%= book.favorites.count %></span>
														        
														      <% end %>
														    </p>
												<% end %>
				        						</td>
			  			
						    <td><p>コメント数：<%= book.book_comments.count %></p></td>
									        </tr>
									       <% end %> 
								      	</tbody>
								      </table>
					</div>
					<% if @user==current_user %>
					<div class="row">
						<div class="col">
							<h1>Your MAP</h1>
							<div id="map" style="width: 500px; height: 300px;", class="mx-auto"></div>
						</div>
					</div>
				<% end %>

	<script>
				function drawMap(address) {
						var geocoder = new google.maps.Geocoder();
						//住所から座標を取得する
						geocoder.geocode(
										{
												'address': address,//検索する住所　〒◯◯◯-◯◯◯◯ 住所　みたいな形式でも検索できる
												'region': 'jp'
										},
										function (results, status) {
												if (status == google.maps.GeocoderStatus.OK) {
														google.maps.event.addDomListener(window, 'load', function () {
																var map_tag = document.getElementById('map');
																// 取得した座標をセット緯度経度をセット
																var map_location = new google.maps.LatLng(results[0].geometry.location.lat(),results[0].geometry.location.lng());
																//マップ表示のオプション
																var map_options =
																{
																		zoom: 13,//縮尺
																		center: map_location,//地図の中心座標
																		//ここをfalseにすると地図上に人みたいなアイコンとか表示される
																		disableDefaultUI: true,
																		mapTypeId: google.maps.MapTypeId.ROADMAP//地図の種類を指定
																};

																//マップを表示する
																var map = new google.maps.Map(map_tag, map_options);

																//地図上にマーカーを表示させる
																var marker = new google.maps.Marker({
																		position: map_location,//マーカーを表示させる座標
																		map: map//マーカーを表示させる地図
																});
														});
												}else{
													alert("住所から位置の取得ができませんでした。: " + status);
													return;
												}
										}
						);
				}
				$(function(){
					drawMap("<%= "〒#{@user.postal_code} #{@user.prefecture_name}#{@user.city}#{@user.street}" %>");
				});

			</script>
		</div>		
</div>